<div class="modal-header">
  <h5 class="modal-title pull-left">{{title}}</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="system">System</label>
    <input type="text" class="form-control" id="system" readonly value="{{passNote.system}}">
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="user">User</label>
      <input type="text" class="form-control" id="user" readonly value="{{passNote.user}}">
    </div>
    <div class="col">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" readonly value="{{passNote.password}}">
    </div>
  </div>
  <div class="form-group" *ngIf="passNote.url && !(passNote.getURL())">
    <label for="comments">Comments</label>
    <input type="text" class="form-control" id="comments" readonly value="{{passNote.url}}">
  </div>
  <div class="form-group" *ngIf="passNote.getURL()">
    <label for="url">Link</label>
    <a href="{{passNote.getURL()}}" class="form-control-file" id="url" target="_blank">{{passNote.getURL()}}</a>
  </div>

  <a
    data-toggle="collapse"
    href="#collapseInfo"
    role="button"
    *ngIf="passNote.info.length > 0"
    aria-expanded="false"
    aria-controls="collapseExample">
    <label for="infoCollapse">Info</label>
  </a>
  <div class="collapse" id="collapseInfo">
    <div class="form-group">
      <textarea rows = "5" class="form-control" id="infoCollapse" readonly >{{passNote.info}}</textarea>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>

