<div class="container" *ngIf="isLoading && (loadErrorMessage == null)">
  <div class="alert alert-primary" role="alert">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> Loading
  </div>
</div>

<div class="container" *ngIf="loadErrorMessage != null">
  <div class="alert alert-danger" role="alert">
    Load error: {{loadErrorMessage}}. <a href="#" class="alert-link" (click)="onTryAgainClick($event)">Please, try again</a>
  </div>
</div>


<div class="container-fluid" *ngIf="passDataService.isPassData()">

  <div class="row">
    <div class="col-md-3 mt-2">

      <!--
      <div class="list-group">
        <a href="#" class="list-group-item active">Item 1</a>
        <a href="#" class="list-group-item">Item 2</a>
      </div>
      -->

      <app-pass-category></app-pass-category>

    </div>

    <div class="col-md-9 mt-2">

      <!--
      <div class="list-group">
        <a href="#" class="list-group-item">
          <div class="row">
            <div class="col-md-3">sss</div>
            <div class="col-md-2">ddd</div>
            <div class="col-md-4">eee</div>
            <div class="col-md-3">fff</div>
          </div>
        </a>
        <a href="#" class="list-group-item">
          <div class="row">
            <div class="col-md-3">sss</div>
            <div class="col-md-2">ddd</div>
            <div class="col-md-4">eee</div>
            <div class="col-md-3">fff</div>
          </div>
        </a>

      </div>
      -->

      <app-pass-note></app-pass-note>

    </div>


  </div>

</div>
