<mat-toolbar class="top-toolbar">
  <span class="app-title">My App</span>

  <span class="spacer"></span>

  <button matButton="filled" mat-button [matMenuTriggerFor]="docsMenu">Docs</button>
  <mat-menu #docsMenu="matMenu">
    <button mat-menu-item>Guide</button>
    <button mat-menu-item>API</button>
    <button mat-menu-item>Examples</button>
  </mat-menu>

  @if(data$ | async; as data){
    <h6>
      Version: {{version}} <small>({{data.appInfo.version}})</small>
    </h6>
  }

  @if(data$ | async; as data){
    <button
      mat-icon-button
      aria-label="Settings"
      class="icon-bright"
      [matTooltip]="'File name: ' + (data.passDataFileInfo.name?? 'not set up')"
      (click)="onSettingsClick()">
      <mat-icon>settings</mat-icon>
    </button>
  }
</mat-toolbar>

