<mat-toolbar class="top-toolbar">
  @if(screenService.smallScreen$ | async; as smallScreen) {
    @if(smallScreen['matches']) {
      <button
        mat-icon-button
        aria-label="Menu"
        class="icon-bright"
        (click)="screenService.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    }
  }


  <span class="mr-2">My App</span>
  @if(data$ | async; as data){
    <span class="font-label mr-2">
      {{version}} <small>({{data.appInfo.version}})</small>
    </span>
  }

  <div class="search-bar">
    @if(searchOptions$ | async; as searchOptions) {
      <form [formGroup]="searchForm">
          <mat-form-field appearance="outline" class="search-control">
            <mat-icon matPrefix class="icon-bright">search</mat-icon>
            <input type="text" placeholder="Search" matInput formControlName="searchControl">
          </mat-form-field>
      </form>
    }
  </div>

  <!--
  <span class="spacer"></span>
  -->

  <button matButton="filled" mat-button [matMenuTriggerFor]="docsMenu">Docs</button>
  <mat-menu #docsMenu="matMenu">
    <button mat-menu-item>Guide</button>
    <button mat-menu-item>API</button>
    <button mat-menu-item>Examples</button>
  </mat-menu>

  <mat-button-toggle-group name="passDataMode" aria-label="Mode" class="mr-2" [ngModel]="passDataService.passDataModeSignal()" (ngModelChange)="passDataService.setPassDataMode($event)">
    <mat-button-toggle [value]="PassDataMode.PDM_VIEW">View</mat-button-toggle>
    <mat-button-toggle [value]="PassDataMode.PDM_EDIT">Edit</mat-button-toggle>
  </mat-button-toggle-group>

  @if(passDataService.passDataChangedSignal()) {
    <button mat-icon-button class="icon-bright mr-2">
      <mat-icon>save</mat-icon>
    </button>
  }

  @if(data$ | async; as data){
    @if(!data.passData) {
      <button
        mat-icon-button
        aria-label="Settings"
        class="icon-bright"
        [matTooltip]="'File name: ' + (data.passDataFileInfo.name?? 'not set up')"
        (click)="onSettingsClick()">
        <mat-icon>settings</mat-icon>
      </button>
    } @else {
      <button
        mat-icon-button
        aria-label="Exit"
        class="icon-bright"
        matTooltip="Exit"
        (click)="onLogoutClick()">
        <mat-icon>logout</mat-icon>
      </button>
    }
  }
</mat-toolbar>

