.top-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-surface);
}

.spacer {
  flex: 1 1 auto;
}

.mat-form-field-underline {
  display: none;
}

.search-bar {
  flex: 1 1 auto;
  justify-content: center;
}

.font-label {
  font-size: var(--mat-button-filled-label-text-size, var(--mat-sys-label-large-size));
}

.mat-mdc-icon-button {
  color: var(--mat-sys-on-primary);
}
