<div class="modal-header">
  <h4 class="modal-title pull-left">Category</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm">
    <div class="mb-2">
      <label for="inputName" class="mb-1"><strong>Category name</strong></label>
      <input
        #inputName type="text"
        class="form-control"
        [ngClass]="{'is-invalid': editForm.controls.name.errors && submitted}"
        id="inputName"
        formControlName="name"
        appInitFocus
      >
    </div>

    <div *ngIf="editForm.controls.name.errors && submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.name.errors.required">Category name should not be empty</div>
      <div *ngIf="editForm.controls.name.errors.existingName">Category already exists</div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="onConfirmClick()">{{confirmButtonText}}</button>
</div>

