.mat-mdc-row {
  cursor: pointer; /* Changes the cursor to a pointer when hovering over a row */
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.01); /* Provides a hover effect */
}

.mat-column-categoryName {
  flex: 0 0 20% !important;
  min-width: 200px !important;
}

.mat-column-system {
  flex: 0 0 20% !important;
  min-width: 200px !important;
}

.mat-column-user {
  flex: 0 0 25% !important;
  min-width: 200px !important;
  white-space: nowrap
}

.mat-column-url {
  flex: 1 1 auto;
  white-space: nowrap;
  min-width: 48px !important;
}

.mat-column-actions {
  flex: 0 0 fit-content !important;
  white-space: nowrap
}
