<div class="d-flex flex-row text-nowrap align-items-center">
  <div *ngIf="editing">
    <form class="form-group form-inline mb-0 text-nowrap">
      <div class="form-check-inline mr-0">
        <label>
          <input
            #fileNameControl
            type="text"
            [size]="editing? 40: 1"
            class="form-control"
            placeholder="Enter the file name here"
            [(ngModel)]="editFileName"
            (keyup)="onFileNameControlKeyUp($event)"
            name="fileName"
          >
        </label>

        <a href="#" class="btn btn-link" (click)="onSubmit($event)">
          <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
        </a>

        <a href="#" class="btn btn-link" (click)="onCancel($event)">
          <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
        </a>

      </div>
    </form>
  </div>
  <div class="text-right form-control bg-transparent border-0 pr-0">
    <a
      class="h6 text-danger"
      *ngIf="!fileName && !editing"
      href="#"
      (click)="onFileNameClick($event)"
    >Please, click to configure data file name
    </a>

    <a
      class="h6"
      [ngClass]="{'text-danger': !passDataFileInfo.exists, 'text-success': passDataFileInfo.exists, 'text-muted': passDataLoading}"
      *ngIf="passDataFileInfo && !editing"
      href="#"
      (click)="onFileNameClick($event)"
    >{{passDataFileInfo.name}}
    </a>

  </div>
</div>
