<div class="d-flex flex-row text-nowrap align-items-center">
  <div *ngIf="editing">
    <form class="d-inline-flex mb-0 me-0 form-check-inline text-nowrap justify-content-end">
      <div>
        <label>
          <input
            #fileNameControl
            type="text"
            [size]="editing? 40: 1"
            class="form-control"
            placeholder="Enter the file name here"
            [(ngModel)]="editFileName"
            (keyup)="onFileNameControlKeyUp($event)"
            name="fileName"
          >
        </label>
      </div>

      <div>
        <a href="#" class="btn btn-link" (click)="onSubmit($event)">
          <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
        </a>

        <a href="#" class="btn btn-link pe-0" (click)="onCancel($event)">
          <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
        </a>
      </div>

    </form>
  </div>
  <div class="text-end form-control bg-transparent border-0 pe-0" *ngIf="!editing">
    <a
      class="h6 text-danger"
      href="#"
      *ngIf="!fileName && !editing"
      (click)="onFileNameClick($event)"
    >Please, click to configure data file name
    </a>

    <a
      class="h6"
      [ngClass]="{'text-danger': !passDataFileInfo.exists, 'text-success': passDataFileInfo.exists, 'text-muted': passDataLoading}"
      *ngIf="passDataFileInfo && !editing"
      href="#"
      (click)="onFileNameClick($event)"
    >{{passDataFileInfo.name}}
    </a>

  </div>
</div>
