<div class="d-flex flex-row text-nowrap align-items-center">
  <div>
    <form class="form-group mb-0" [ngClass]="{invisible: !editing}">
      <label>
        <input
          #fileNameControl
          type="text"
          size="60"
          class="form-control"
          placeholder="Enter the file name here"
          (focusout)="editing=false"
          [(ngModel)]="editFileName"
          (keyup)="onFileNameControlKeyUp($event)"
          name="fileName"
        >
      </label>
    </form>
  </div>
  <div class="text-right" *ngIf="!fileName && !editing">
    <a class="text-danger" href="#" (click)="onFileNameClick($event)">Please, click to configure data file name</a>
  </div>
</div>
