@if((passData$ | async) && searchOptions$ | async; as searchOptions) {
  <form [formGroup]="searchForm">
    <mat-form-field appearance="outline" class="search-control">
      <button mat-icon-button matPrefix (click)="onSearch($event)">
        <mat-icon class="icon-bright">search</mat-icon>
      </button>
      <input
        type="text"
        placeholder="Search"
        matInput
        (keydown.enter)="onSearch($event)"
        formControlName="searchControl"
        [matAutocomplete]="auto"
        #autofocused
        #autoTrigger="matAutocompleteTrigger">
      @if(searchValueAction$ | async) {
        <button mat-icon-button matSuffix (click)="onClear($event)">
          <mat-icon class="icon-bright">close</mat-icon>
        </button>
      }
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        @for (option of searchOptions; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  @if(searchResultAction$ | async) {}
}
