@if(passData$ && searchOptions$ | async; as searchOptions) {
  <form [formGroup]="searchForm">
    <mat-form-field appearance="outline" class="search-control">
      <mat-icon matPrefix class="icon-bright">search</mat-icon>
      <input type="text" placeholder="Search" matInput formControlName="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of searchOptions; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
}

