<div class="example-container">
  <form [formGroup]="passwordForm" class="example-form">
    <mat-form-field class="example-form-element">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input
        #passwordInput
        type="password"
        autocomplete="on"
        matInput
        formControlName="passwordControl"
        placeholder="Password">
      <button mat-icon-button matSuffix (click)="onPasswordInput()">
        <mat-icon>login</mat-icon>
      </button>
      @if (passwordForm.controls.passwordControl.hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </form>
</div>
