<div *ngIf="!isAppConfigured()">
  <div class="container mt-2">
    <app-app-config-error></app-app-config-error>
  </div>
</div>
<div *ngIf="isAppConfigured()">
  <div class="jumbotron d-flex mb-2">
    <div class="me-auto d-flex align-items-end">
      <h1 class="display-4"><span class="fw-bold text-primary">{{ title }}</span></h1>
    </div>
    <div class="ms-2">
      <h6 class="text-end"><app-app-info></app-app-info></h6>
      <div><h6><app-pass-data-file-name></app-pass-data-file-name></h6></div>
    </div>
  </div>

  <div class="container">
    <app-message messageSource="Critical"></app-message>
  </div>

  <div class="container-fluid mb-2">
    <app-operation-control *ngIf="passDataService.isPassData()"></app-operation-control>
    <!--
    <app-exit *ngIf="passDataService.isPassData()"></app-exit>
    -->
    <app-search *ngIf="passDataService.isPassData()"></app-search>
  </div>

  <router-outlet></router-outlet>

  <div class="container">
    <app-message messageSource="PassData"></app-message>
  </div>

</div>

<footer class="footer bg-dark">
  <div class="container-fluid">
    <a class="text-light" href="https://github.com/MrZeRo2000/violetnote-ang/">Github</a>
  </div>
</footer>

<!--
<app-password *ngIf="!authService.isPasswordProvided()"></app-password>
<app-pass-data *ngIf="authService.isPasswordProvided()"></app-pass-data>
-->

