<div *ngIf="!isAppConfigured()">
  <div class="container mt-2">
    <app-app-config-error></app-app-config-error>
  </div>
</div>
<div *ngIf="isAppConfigured()">
  <div class="jumbotron">
    <h6 class="text-right">Version: {{version}}</h6>
    <h6 class="text-right"><app-pass-data-file-info></app-pass-data-file-info></h6>
    <div class="d-flex justify-content-end"><app-pass-data-file-name></app-pass-data-file-name></div>
    <h1 class="display-4"><span class="font-weight-bold text-primary">{{ title }}</span></h1>
    <app-exit *ngIf="passDataService.isPassData()"></app-exit>
    <app-search *ngIf="passDataService.isPassData()"></app-search>
  </div>

  <router-outlet></router-outlet>

</div>

<footer class="footer bg-dark">
  <div class="container-fluid">
    <a class="text-light" href="https://github.com/MrZeRo2000/violetnote-ang/">Github</a>
  </div>
</footer>

<!--
<app-password *ngIf="!authService.isPasswordProvided()"></app-password>
<app-pass-data *ngIf="authService.isPasswordProvided()"></app-pass-data>
-->

