<div class="btn-group" #dropdown="bs-dropdown" dropdown [insideClick]="true">
  <a dropdownToggle class="btn p-0" [ngClass]="isFilterActive() ? 'link-primary' : 'link-secondary'" aria-haspopup="true" aria-expanded="false">
    <fa-icon [icon]="['fas', 'filter']" transform="shrink-2"></fa-icon>
  </a>

  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <a class="dropdown-item" href="#" (click)="dropdown.hide();dropDownAllClick($event)">(All)</a>
    <li class="divider dropdown-divider"></li>
    <div *ngFor="let filterItem of filterItems">
      <li role="menuitem"><a class="dropdown-item" [ngClass]="{'active': filterItem.isSelected}" href="#" (click)="dropDownClick($event, filterItem)">{{filterItem.value}}</a></li>
    </div>
  </ul>
</div>
