<div class="btn-group" dropdown [autoClose]="false" [insideClick]="true">
  <!--
  <button class="btn btn-link" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
  </button>
  -->

  <a dropdownToggle class="btn link-secondary p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <fa-icon [icon]="['fas', 'filter']" transform="shrink-2"></fa-icon>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#" (click)="dropDownAllClick($event)">(All)</a>
    <li class="divider dropdown-divider"></li>
    <div *ngFor="let filterItem of filterItems">
      <a class="dropdown-item" href="#" (click)="dropDownClick($event, filterItem)">{{filterItem.value}}</a>
    </div>
  </div>

</div>

<div class="btn-group" #dropdown="bs-dropdown" dropdown [insideClick]="true">
  <a dropdownToggle class="btn link-secondary p-0" aria-haspopup="true" aria-expanded="false">
    <fa-icon [icon]="['fas', 'filter']" transform="shrink-2"></fa-icon>
  </a>

  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <a class="dropdown-item" href="#" (click)="dropdown.hide();dropDownAllClick($event)">(All)</a>
    <li class="divider dropdown-divider"></li>
    <div *ngFor="let filterItem of filterItems">
      <li role="menuitem"><a class="dropdown-item" [ngClass]="{'active': filterItem.isSelected}" href="#" (click)="dropDownClick($event, filterItem)">{{filterItem.value}}</a></li>
    </div>
  </ul>
</div>
