<div class="container mt-2" *ngIf="displayMessage">
  <alert type="danger" *ngIf="displayMessage.messageType === MessageType.MT_ERROR" [dismissible]=displayMessage.dismissible (onClose)="onClosed()">
    {{displayMessage.messageText}}
  </alert>
  <alert type="info" *ngIf="displayMessage.messageType === MessageType.MT_INFO" [dismissible]=displayMessage.dismissible (onClose)="onClosed()">
    {{displayMessage.messageText}}
  </alert>
  <alert type="success" *ngIf="displayMessage.messageType === MessageType.MT_SUCCESS" [dismissible]=displayMessage.dismissible (onClose)="onClosed()">
    {{displayMessage.messageText}}
  </alert>
  <alert type="warning" *ngIf="displayMessage.messageType === MessageType.MT_WARNING" [dismissible]=displayMessage.dismissible (onClose)="onClosed()">
    {{displayMessage.messageText}}
  </alert>
</div>
