<div class="d-inline-flex">
  <div class="me-2">
    <span [popover]="'User name copied'"
          triggers="" #pop="bs-popover" [isOpen]="isUserNameOpen">
      <a href="#" class="btn-link" [ngClass]="{'disabled': !userName}" (click)="onUserNameClick($event)">
      <fa-icon [icon]="['fas', 'user']"></fa-icon>
    </a>
    </span>
  </div>
  <div>
    <span [popover]="'Password copied'"
          triggers="" #pop="bs-popover" [isOpen]="isPasswordOpen">
      <a href="#" class="btn-link" [ngClass]="{'disabled': !password}" (click)="onPasswordClick($event)">
      <fa-icon [icon]="['fas', 'key']"></fa-icon>
    </a>
    </span>
  </div>
</div>
