<div class="container-fluid">
  <button type="button" class="btn btn-labeled btn-info btn-xs mb-2" *ngIf="searchText !== undefined" (click)="searchInfoButtonClick($event)">
    <span class="btn-label-xs"><fa-icon [icon]="['fas', 'times']"></fa-icon></span>{{searchText}}
  </button>
  <div class="alert alert-warning" role="alert" *ngIf="!searchPassNotes || searchPassNotes.length === 0">
    No data found
  </div>

  <div *ngIf="editMode && !!selectedPassNote?.passNote">
    <app-edit-panel
      hideAdd="true"
      [selectedItem]="selectedPassNote?.passNote"
      (editButtonClick)="onEditButtonClick($event)"
    ></app-edit-panel>
  </div>

  <div *ngIf="displaySearchPassNotes?.length > 0">
    <div class="list-group">
      <div class="list-group-item list-group-item-secondary">
        <div class="row h5">
          <div class="col-md-2 col-sm-12 text-center">Category <app-drop-down-filter [filterItems]="filterSearch[FilterTypes.CATEGORY]" (filterChanged)="categoryFilterChanged($event)"></app-drop-down-filter></div>
          <div class="col-md-2 col-sm-12 text-center">System<app-drop-down-filter [filterItems]="filterSearch[FilterTypes.SYSTEM]" (filterChanged)="systemFilterChanged($event)"></app-drop-down-filter></div>
          <div class="col-md-3 col-sm-12 text-center">User<app-drop-down-filter [filterItems]="filterSearch[FilterTypes.USER]" (filterChanged)="userFilterChanged($event)"></app-drop-down-filter></div>
          <div class="col-md-2 col-sm-12 text-center d-none d-sm-none d-md-block">Password</div>
          <div class="col-md-3 col-sm-12 text-center">Url</div>
        </div>
      </div>
      <a href="#"
         class="list-group-item list-group-item-action"
         data-toggle="modal"
         *ngFor="let passNote of pagerStatus.displayedItems"
         [ngClass] = "{'active': passNote == selectedPassNote}"
         (click)="onPassNoteClick($event, passNote)"
      >
        <div class="row">
          <div class="col-md-2 col-sm-12">{{passNote.passCategory.categoryName}}</div>
          <div class="col-md-2 col-sm-12">{{passNote.passNote.system}}</div>
          <div class="col-md-3 col-sm-12 position-relative">
            {{passNote.passNote.user}}
            <div class="btn-clipboard"><app-copy-value-panel name="User" value={{passNote.passNote.user}}></app-copy-value-panel></div>
          </div>
          <div class="col-md-2 col-sm-12 d-none d-sm-none d-md-flex align-items-center justify-content-center">
              <app-copy-value-panel name="Password" value={{passNote.passNote.password}}></app-copy-value-panel>
          </div>
          <div class="col-md-3 col-sm-12">
            <div *ngIf="!UrlUtils.isValidURL(passNote.passNote.url)">
              {{passNote.passNote.url}}
            </div>
            <div *ngIf="UrlUtils.isValidURL(passNote.passNote.url)">
              <a [href]=passNote.passNote.url target="_blank" (click)="$event.stopPropagation()">{{passNote.passNote.url}}e</a>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="mt-2" *ngIf="pagerStatus.pageCount > 1">
      <div class="d-inline-block">
        <pagination [totalItems]="pagerStatus.totalCount" [maxSize]="maxPageSize" [itemsPerPage]="maxPageSize" (pageChanged)="pageChanged($event)"></pagination>
      </div>
      <div class="d-inline-block ms-2">
        <ul class="pagination"><li class="pagination-page page-item"><a href="#" class="page-link" (click)="onPageAllClick($event)">All</a></li></ul>
      </div>
    </div>

  </div>

</div>

