<div class="container-fluid">
  <button type="button" class="btn btn-labeled btn-info btn-xs mb-2" *ngIf="searchText !== undefined" (click)="searchInfoButtonClick($event)">
    <span class="btn-label-xs"><fa-icon [icon]="['fas', 'times']"></fa-icon></span>{{searchText}}
  </button>
  <div class="alert alert-warning" role="alert" *ngIf="!searchPassNotes || searchPassNotes.length === 0">
    No data found
  </div>

  <div *ngIf="editMode && !!selectedPassNote?.passNote">
    <app-edit-panel
      hideAdd="true"
      [selectedItem]="selectedPassNote?.passNote"
      (editButtonClick)="onEditButtonClick($event)"
    ></app-edit-panel>
  </div>

  <div *ngIf="displaySearchPassNotes?.length > 0">
    <div class="list-group">
      <div class="list-group-item list-group-item-secondary">
        <div class="row h5">
          <div class="col-3">Category <app-drop-down-filter [filterItems]="filterSearchCategoryNames" (filterChanged)="categoryFilterChanged($event)"></app-drop-down-filter></div>
          <div class="col-3">System<app-drop-down-filter [filterItems]="filterSearchSystems" (filterChanged)="systemFilterChanged($event)"></app-drop-down-filter></div>
          <div class="col-3">User<app-drop-down-filter [filterItems]="filterSearchUsers" (filterChanged)="userFilterChanged($event)"></app-drop-down-filter></div>
          <div class="col-3">Url</div>
        </div>
      </div>
      <a href="#"
         class="list-group-item list-group-item-action"
         data-toggle="modal"
         *ngFor="let passNote of pagerStatus.displayedItems"
         [ngClass] = "{'active': passNote == selectedPassNote}"
         (click)="onPassNoteClick($event, passNote)"
      >
        <div class="row">
          <div class="col-3">{{passNote.passCategory.categoryName}}</div>
          <div class="col-3">{{passNote.passNote.system}}</div>
          <div class="col-3">{{passNote.passNote.user}}</div>
          <div class="col-3">{{passNote.passNote.url}}</div>
        </div>
      </a>
    </div>

    <div class="mt-2" *ngIf="pagerStatus.pageCount > 1">
      <div class="d-inline-block">
        <pagination [totalItems]="pagerStatus.totalCount" [maxSize]="maxPageSize" [itemsPerPage]="maxPageSize" (pageChanged)="pageChanged($event)"></pagination>
      </div>
      <div class="d-inline-block ms-2">
        <ul class="pagination"><li class="pagination-page page-item"><a href="#" class="page-link" (click)="onPageAllClick($event)">All</a></li></ul>
      </div>
    </div>

  </div>

</div>

