<app-edit-panel
  *ngIf="editMode"
  [selectedItem]="selectedPassCategory"
  [disableDelete]="hasSelectedNotes"
  (editButtonClick)="onEditButtonClick($event)"
></app-edit-panel>

<div class="list-group" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="onDrop($event)">
  <a href="#"
     class="list-group-item list-group-item-action"
     *ngFor="let passCategory of passData.passCategoryList"
     [ngClass] = "{'active': passCategory==selectedPassCategory}"
     (click)="onPassCategoryClick($event, passCategory)"
     cdkDrag
     [cdkDragDisabled] = dragDisabled()
  >
    {{passCategory.categoryName}}
  </a>
</div>
