<div class="list-group">
  <div class="list-group-item list-group-item-secondary">
    <div class="row h5">
      <div class="col-md-3">System</div>
      <div class="col-md-3">User</div>
      <div class="col-md-6">Custom</div>
    </div>
  </div>
  <a href="#"
     class="list-group-item list-group-item-action"
     data-toggle="modal"
     *ngFor="let passNote of displayNotes"
     (click)="onPassNoteClick($event, passNote)"
  >
    <div class="row">
      <div class="col-md-3">{{passNote.system}}</div>
      <div class="col-md-3">{{passNote.user}}</div>
      <div class="col-md-6">{{passNote.custom}}</div>
    </div>
  </a>
</div>

<pagination class="mt-2" [totalItems]="passNotes.length" [maxSize]="maxPageSize" (pageChanged)="pageChanged($event)" *ngIf="pageCount > 1"></pagination>
Page count: {{pageCount}}
