<app-edit-panel
  *ngIf="editMode"
  [selectedItem]="selectedPassNote"
  [showDuplicate]="true"
  (editButtonClick)="onEditButtonClick($event)"
>
  <div class="dropdown"
       *ngIf="selectedPassNotes && selectedPassNotes.length > 0 && movePassCategoryNameList && movePassCategoryNameList.length > 0">
    <button class="btn btn-link" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <h6 class="dropdown-header">Move to other category</h6>
      <div *ngFor="let passCategoryName of movePassCategoryNameList">
        <a class="dropdown-item" href="#" (click)="onMoveToOtherCategory($event, passCategoryName)">{{passCategoryName}}</a>
      </div>
    </div>

  </div>
</app-edit-panel>


<div class="list-group" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="onDrop($event)">
  <div class="list-group-item list-group-item-secondary">
    <div class="row h5">
      <div class="col-lg-2 col-md-12">System</div>
      <div class="col-lg-4 col-md-12">User</div>
      <div class="col-lg-6 col-md-12">Url</div>
    </div>
  </div>
  <a href="#"
     class="list-group-item list-group-item-action"
     data-toggle="modal"
     *ngFor="let passNote of pagerStatus.displayedItems"
     [ngClass] = "{'active': noteSelected(passNote)}"
     (click)="onPassNoteClick($event, passNote)"
     cdkDrag
     [cdkDragDisabled] = dragDisabled()
  >
    <div class="row">
      <div class="col-lg-2 col-md-12">{{passNote.system}}</div>
      <div class="col-lg-4 col-md-12 d-inline-flex">
        <div class="d-flex flex-grow-1">{{passNote.user}}</div>
        <div class="d-flex align-items-center" *ngIf="!editMode">
          <app-copy-user-name-password-panel userName={{passNote.user}} password={{passNote.password}}></app-copy-user-name-password-panel>
        </div>
      </div>
      <div class="col-lg-6 col-md-12" *ngIf="editMode">
        {{passNote.url}}
      </div>
      <div class="col-lg-6 col-md-12" *ngIf="!editMode">
        <span *ngIf="!UrlUtils.isValidURL(passNote.url)">
          {{passNote.url}}
        </span>
        <span *ngIf="UrlUtils.isValidURL(passNote.url)">
          <a [href]=passNote.url target="_blank" (click)="$event.stopPropagation()">{{passNote.url}}</a>
        </span>
      </div>
    </div>
  </a>
</div>

<div class="mt-2" *ngIf="pagerStatus.pageCount > 1">
  <div class="d-inline-block">
    <pagination [(ngModel)]="pagerStatus.currentPage" [totalItems]="pagerStatus.totalCount" [maxSize]="maxPageSize" [itemsPerPage]="maxPageSize" (pageChanged)="pageChanged($event)"></pagination>
  </div>
  <div class="d-inline-block ms-2">
    <ul class="pagination"><li class="pagination-page page-item"><a href="#" class="page-link" (click)="onPageAllClick($event)">All</a></li></ul>
  </div>
</div>
