<div class="mb-1 d-inline-flex flex-row">
  <div>
    <a href="#" class="btn btn-link" *ngIf="!hideAdd" [ngClass]="{'disabled': disableAdd}" (click)="onButtonClick($event, EditButtonType.BT_ADD)">
      <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
    </a>
  </div>

  <div *ngIf="selectedItem">
    <a href="#" class="btn btn-link" [ngClass]="{'disabled': disableDelete}" (click)="onButtonClick($event, EditButtonType.BT_DELETE)">
      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
    </a>
  </div>

  <div *ngIf="selectedItem">
    <a href="#" class="btn btn-link" (click)="onButtonClick($event, EditButtonType.BT_EDIT)">
      <fa-icon [icon]="['fas', 'pen']"></fa-icon>
    </a>
  </div>

  <div *ngIf="selectedItem && showDuplicate">
    <a href="#" class="btn btn-link" (click)="onButtonClick($event, EditButtonType.BT_DUPLICATE)">
      <fa-icon [icon]="['fas', 'clone']"></fa-icon>
    </a>
  </div>
  <ng-content></ng-content>
</div>
