<div class="mb-1 d-inline-block">
  <div class="d-inline">
    <a href="#" class="btn btn-link" *ngIf="!hideAdd" [ngClass]="{'disabled': disableAdd}" (click)="onButtonClick($event, EditButtonType.BT_ADD)">
      <i class="fa fa-plus-circle"></i>
    </a>
  </div>

  <div class="d-inline" *ngIf="selectedItem">
    <a href="#" class="btn btn-link" [ngClass]="{'disabled': disableDelete}" (click)="onButtonClick($event, EditButtonType.BT_DELETE)">
      <i class="fa fa-trash"></i>
    </a>
  </div>

  <div class="d-inline" *ngIf="selectedItem">
    <a href="#" class="btn btn-link" (click)="onButtonClick($event, EditButtonType.BT_EDIT)">
      <i class="fa fa-pen"></i>
    </a>
  </div>

  <div class="d-inline" *ngIf="selectedItem && showDuplicate">
    <a href="#" class="btn btn-link" (click)="onButtonClick($event, EditButtonType.BT_DUPLICATE)">
      <i class="fa fa-clone"></i>
    </a>
  </div>

</div>
