<div class="container text-center" *ngIf="loading">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true" transform="grow-12"></fa-icon>
</div>

<div class="container" *ngIf="passDataFileInfo && !loading">
  <form>
    <div class="input-group mt-4">
      <div class="input-group-text"><fa-icon [icon]="['fas', 'lock']"></fa-icon></div>
      <input
        #password
        type="password"
        class="form-control shadow-none"
        name="inputPassword"
        placeholder="Password"
        (keyup)="onPasswordKeyUp($event)"
        [(ngModel)] = "inputPassword"
      >
      <button type="button" class="btn btn-outline-primary" *ngIf="passDataFileInfo.exists" (click)="onSubmitPassword()"><fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon></button>
    </div>
    <div class="input-group mt-4" *ngIf="!passDataFileInfo.exists">
      <div class="input-group-text"><fa-icon [icon]="['fas', 'lock']"></fa-icon></div>
      <input
        type="password"
        class="form-control shadow-none"
        name="inputPasswordRetype"
        placeholder="Retype password"
        (keyup)="onPasswordKeyUp($event)"
        [(ngModel)] = "inputPasswordRetype"
      >
    </div>

    <div class="mt-4" *ngIf="!passDataFileInfo.exists">
      <button type="button" class="btn btn-outline-primary w-100" (click)="onSubmitPassword()"><fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> Submit</button>
    </div>

    <div class="mt-2 d-flex">
      <div class="form-check me-2" *ngIf="passDataFileInfo.exists">
        <input type="radio" id="dataModeView" name="dataMode" class="form-check-input" [(ngModel)]="operationMode" [value]="OperationMode.OM_VIEW">
        <label class="form-check-label" for="dataModeView">View</label>
      </div>
      <div class="form-check" *ngIf="passDataFileInfo.exists">
        <input type="radio" id="dataModeEdit" name="dataMode" class="form-check-input" [(ngModel)]="operationMode" [value]="OperationMode.OM_EDIT">
        <label class="form-check-label" for="dataModeEdit">Edit</label>
      </div>
    </div>

  </form>
</div>
