<div class="container text-center" *ngIf="loading">
  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>

<div class="container" *ngIf="passDataFileInfo && !loading">
  <form class="form-group">
    <div class="input-group">
      <div class="input-group-prepend mt-2">
        <div class="input-group-text"><i class="fa fa-lock"></i></div>
      </div>
      <input #password type="password" class="form-control mt-2 shadow-none" name="inputPassword" placeholder="Password"
             (keyup)="onPasswordKeyUp($event)"
             [(ngModel)] = "inputPassword">
      <div class="input-group-append mt-2 ml-1">
        <button type="button" class="btn btn-outline-primary" (click)="onSubmitPassword()"><i class="fa fa-sign-in-alt"></i> Submit</button>
      </div>
    </div>

    <div class="mt-2">
      <div class="custom-control custom-radio custom-control-inline" *ngIf="passDataFileInfo.exists">
        <input type="radio" id="dataModeView" name="dataMode" class="custom-control-input" [(ngModel)]="operationMode" [value]="OperationMode.OM_VIEW">
        <label class="custom-control-label" for="dataModeView">View</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline" *ngIf="passDataFileInfo.exists">
        <input type="radio" id="dataModeEdit" name="dataMode" class="custom-control-input" [(ngModel)]="operationMode" [value]="OperationMode.OM_EDIT">
        <label class="custom-control-label" for="dataModeEdit">Edit</label>
      </div>
    </div>


  </form>
</div>
