$fa-font-path: "node_modules/@fortawesome/fontawesome-free/webfonts";

$book-base-dark: #76385F;
$book-base-light: #7B4266;
$book-base-medium: #AF7FA1;

$book-warm-dark: #AE5041;
$book-warm-medium: #D07A69;
$book-warm-light: #FABC6F;
$book-warm-extra-light: #F9E2D6;

$book-contrast-dark: #399143;
$book-contrast-light: #65CB4D;

$primary: $book-base-dark;
$secondary: $book-warm-light;
$success: $book-contrast-light;
$info: $book-contrast-dark;
