/* You can add global styles to this file, and also import other style files */

/* Make jumbotron a bit smaller */
.jumbotron {
  padding: 15px 15px !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
