.example-container {
  margin:auto;
  width: 1000px;
}

.example-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.example-form-element {
  flex: 0 0 100%;
  padding: 1rem 0 1rem 0;
}

.example-button-container {
  display: flex;
  max-width: fit-content;
  align-self: flex-end;
}

@media (min-width: 2560px) {
  .example-container {
    width: 1500px;
  }
}
