<div class="input-group" aria-describedby="searchHelpBlock">
  <input #search class="form-control" type="search" name="inputSearch" id="inputSearch" placeholder="search"
         required minlength="2"
         (keyup)="onSearchKeyUp($event)"
         [(ngModel)]="inputSearch"
         [typeahead]="searchStrings"
         [typeaheadMinLength]="2"
  >
  <div class="dropdown" *ngIf="lastSearches?.length > 0">
    <button class="btn btn-outline-primary dropdown-toggle ms-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      &hellip;
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let item of lastSearches"><a class="dropdown-item" href="#" (click)="onLastSearchesClick($event, item)">{{item}}</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#" (click)="onClearHistoryClick($event)">Clear history</a></li>
    </ul>
  </div>
  <button class="btn btn-outline-primary ms-1" type="button" (click)="onSubmitSearch($event)">
    <fa-icon [icon]="['fas', 'search']"></fa-icon>
  </button>
</div>

<div *ngIf="!isValidSearch">
  <small id="searchHelpBlockInvalid" class="form-text text-muted">
    Please, enter at least 2 characters to search
  </small>
</div>
