<button mat-icon-button color="accent">
  <mat-icon
    #user_tooltip="matTooltip"
    matTooltip="User copied"
    matTooltipPosition="above"
    matTooltipDisabled="true"
    matTooltipHideDelay="1000"
    aria-label="User"
    (click)="buttonCopyToClipboard($event, this.user, user_tooltip)">
    person
  </mat-icon>
</button>

<button mat-icon-button color="accent">
  <mat-icon
    #password_tooltip="matTooltip"
    matTooltip="Password copied"
    matTooltipPosition="above"
    matTooltipDisabled="true"
    matTooltipHideDelay="1000"
    aria-label="Password"
    (click)="buttonCopyToClipboard($event, this.password, password_tooltip)">
    password
  </mat-icon>
</button>
